### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [7]:
tp = purchase_data.nunique()['SN']
tp

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
item_val = purchase_data["Item ID"]
items = len(item_val.unique())

price_ave = round((purchase_data["Price"]).mean(),2)


purchase_total = (purchase_data["Purchase ID"]).count()
total_rev = (purchase_data["Price"]).sum()


purchasing_analysis = pd.DataFrame({"Number of Unique Items":[items],
                           "Average Price": [price_ave], 
                           "Number of Purchases": [purchase_total], 
                           "Total Revenue": [total_rev]})

purchasing_analysis.style.format({'Average Price':"${:}",
                         'Total Revenue': '${:}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
#Percentage and Count of Male/Female Players
gender_data = purchase_data.groupby("Gender")

gender_data_count = gender_data.nunique()["SN"]

#Percentage and Count of Other / Non-Disclosed
player_data_percent = gender_data_count / tp * 100

gender_df = pd.DataFrame({"Percentage of Players": player_data_percent, "Total Count": gender_data_count})

gender_df = gender_df.sort_values(["Total Count"], ascending = False)
gender_df.style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_ct = purchase_data.groupby("Gender")["Purchase ID"].count()

price_ave = purchase_data.groupby("Gender")["Price"].mean()

purchase_ave_price = purchase_data.groupby("Gender")["Price"].sum()

ave_purchase_person = purchase_ave_price/gender_data_count

# Display Dataframe
gender_df = pd.DataFrame({"Purchase Count": purchase_ct, 
                                    "Average Purchase Price": price_ave,
                                    "Average Purchase Value":purchase_ave_price,
                                    "Avg Purchase Total per Person": ave_purchase_person})



gender_df.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [52]:
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=labels)
purchase_data

age_group = purchase_data.groupby("Age Group")

total_age = age_group["SN"].nunique()

total_by_age = (total_age/tp) * 100

age_df = pd.DataFrame({"Percentage of Players": total_by_age, 
                       "Total Count": total_age})


age_df.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
purchase_price_ave = age_group["Price"].mean()
total_purchase = age_group["Price"].sum()
purchase_by_age = age_group["Purchase ID"].count()

purchase_per_person_ave = total_purchase/total_age

analysis_df = pd.DataFrame({"Purchase Count": purchase_by_age,
                                 "Average Purchase Price": purchase_price_ave,
                                 "Total Purchase Value":total_purchase,
                                 "Average Purchase Total per Person": purchase_per_person_ave})

analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
purchase_spender = purchase_data.groupby("SN")["Purchase ID"].count()
avg_price_spender = purchase_data.groupby("SN")["Price"].mean()
total_spender = purchase_data.groupby("SN")["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_spender,
                             "Average Purchase Price": avg_price_spender,
                             "Total Purchase Value":total_spender})

top_spenders_desc_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders_desc_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = items_df.groupby(["Item ID","Item Name"])

values_df = pd.DataFrame({"Purchase Count": item_group["Price"].count(), 
                                   "Item Price": purchase_val/item_group["Price"].count(),
                                   "Total Purchase Value":(item_group["Price"].sum())})

values_desc_df = values_df.sort_values(["Purchase Count"], ascending=False).head()


values_desc_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [48]:
#Sort the above table by total purchase value in descending order
values_val_desc_df = values_df.sort_values(["Total Purchase Value"],
                                                   ascending=False)
values_val_desc_df .style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})